<div class="card card-outline card-primary">
    <div class="card-header text-center">
        <a [routerLink]="['/']" class="h1"><b>My </b>system</a>
    </div>
    <div class="card-body">
        <p class="login-box-msg">Registrar um novo usuário</p>

        <form [formGroup]="registerForm" (ngSubmit)="registerByAuth()">
            <div class="input-group mb-3">
                <input formControlName="name" type="text" class="form-control" placeholder="Nome" />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-user"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input formControlName="email" type="email" class="form-control" placeholder="E-mail" />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input formControlName="password" type="password" class="form-control" placeholder="Senha" />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input formControlName="retypePassword" type="password" class="form-control"
                    placeholder="Repita senha" />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-12 no-padding pd-r-8 pd-l-8">
                    <app-button [type]="'submit'" [block]="true" [loading]="loading">
                        Registrar-se
                    </app-button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <a [routerLink]="['/login']" class="text-center">
            Já possuo uma conta</a>
    </div>
</div>