<div class="card card-outline card-primary">
    <div class="card-header text-center">
        <a [routerLink]="['/']" class="h1"><b>My </b>system</a>
    </div>
    <div class="card-body">
        <p class="login-box-msg">Autentique-se</p>

        <form [formGroup]="loginForm" (ngSubmit)="loginByAuth()">
            <div class="input-group mb-3">
                <input formControlName="email" type="email" class="form-control" placeholder="E-mail" />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input formControlName="password" type="password" class="form-control" placeholder="Senha" />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 no-padding signin">
                <app-button [type]="'submit'" [loading]="loading">
                    Sign In
                </app-button>
            </div>

        </form>

        <p class="mb-1 reset-pwd-text">
            <a [routerLink]="['/forgot-password']">Recuperar minha senha</a>
        </p>
        <p class="mb-0">
            <a [routerLink]="['/register']" class="text-center">
                Registrar-se
            </a>
        </p>
    </div>
    <!-- /.login-card-body -->
</div>